<div class="about-section">
  <h1>Acerca de Odacrem</h1>
  <p>ODACREM es una plataforma que permite a las personas </p>
  <p>aportar a los hospitales con los insumos que estos más necesitan. </p>
</div>
<div class="about-section">
  <h2 style="text-align:center">¿Cómo funciona?</h2>
  <p>Si eres un <b>Hospital o clínica</b> y necesitas insumos básicos para combatir el COVID-19, puedes solicitar aportes de terceros en la sección <b>Solicitar Aportes</b></p>
  <p>Si eres un <b>Fabricante</b> o cuentas con impresoras 3D o relacionados y quieres ayudar a los hospitales a conseguir insumos para combatir el COVID-19, puedes comprometerte con donaciones de insumos en la sección <b>Aportar</b></p>
  <p>Si eres una <b>Persona natural</b> y quieres aportar con dinero para que los fabricantes puedan generar los insumos para que los hospitales puedan combatir el COVID-19, puedes donar en la sección <b>Aportar a fabricantes</b></p>
</div>