<div class="about-section">
  <h1>Acerca de Odacrem</h1>
  <p>ODACREM es una plataforma que permite a las personas </p>
  <p>aportar a los hospitales con los insumos que estos más necesitan. </p>
</div>

<h2 style="text-align:center">Our Team</h2>