// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.img-donations {
    height: 350px;
    width: auto;
}

.margin-donations {
    margin-top: 10px;
}

.subtitle-donations {
    font-size: 16px;
    font-style: italic;

}

.margin-top-donations {
    margin-top: 30px;
}

.title-donations {
    font-size: 24px;
    font-weight: 500;
}

.input-donations {
    width: 10%;
}

.input-text-donations {
    width: 30%;
    border-bottom: 1px solid gray;
}